<ActionBar class="bg" title="Tambah Bimbingan">
    <Label class="action-bar-title" text="Tambah Bimbingan"></Label>
</ActionBar>
<GridLayout rows="60,*" backgroundColor="{{darkmode==1 ? '#2E373E':'#f3f3f3'}}">
    <GridLayout #grid (loaded)="animate(grid,3000)" row="0" margin="0 20 0 20" height="20" columns="*,80,40">
        <Label col="0" class="fa {{darkmode==1 ? 't-white':''}}" text="&#xf060; Back"
            (tap)="onNavItemTap('home')"></Label>
        <Label col="1" class="fa text-center mode" text="Mode {{darkmode==1 ? '&#xf186;':'&#xf185;'}}"
            androidElevation="5" (tap)="onDarkMode()"></Label>
        <Label col="2" class="fa text-right {{darkmode==1 ? 't-white':''}}" text="&#xf0f3;"></Label>
    </GridLayout>
    <GridLayout row="2" rows="auto" backgroundColor="{{darkmode==1 ? '#2E373E':'#f3f3f3'}}">
        <GridLayout #grid2 (loaded)="animate(grid2,3000)" row="0" rows="auto,auto,auto,auto,auto,auto" margin="0 20 0 20"
            padding="10 0 10 0" backgroundColor="{{darkmode==1 ? '#757575':'#FFFFFF'}}" androidElevation="5"
            borderRadius="10">
            <Label row="0" margin="0 20 20 20" class="fa h3 text-center {{darkmode==1 ? 't-white':''}}"
                verticalAlignment="middle" text="&#xf073; 2 November 2019"></Label>
            <Label row="1" margin="0 20 0 20" class="fa h3 {{darkmode==1 ? 't-white':''}}" verticalAlignment="middle"
                text="Keterangan:"></Label>
            <TextField row="2" class="h3 {{darkmode==1 ? 't-white':''}}" margin="0 20 0 20" verticalAlignment="middle"
                text="">
            </TextField>
            <Label row="3" margin="0 20 0 20" class="fa h3 {{darkmode==1 ? 't-white':''}}" verticalAlignment="middle"
                text="Lampiran File:"></Label>
            <TextField row="4" class="h3 {{darkmode==1 ? 't-white':''}}" margin="0 20 0 20" verticalAlignment="middle">
            </TextField>
            <Button text="Simpan" row="5" marginTop="20" class="btn"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>
